html
  head
    title Личный сайт Андрея
  body(bgcolor='#c0c0c0')
    h1 Личный сайт Андрея
    br
    ul
      li
        a(href='../index.html') К списку лабораторных
      li
        a(href='index.html') Главная
      li
        a(href='rozklad.html') Расписание
      li
        a(href='photo.html') Галерея
      li
        a(href='news.html') Новости
    br
    table(border='1')
      caption
        h3 Моё расписание
      tbody
        tr
          th Время
          th Понедельник
          th Вторник
          th Среда
          th Четверг
          th Пятница
        tr
          td 11:25
          td
          td
          td
          td
          td
            | Мова програмувань мобільних пристроїв(Л)
            p Кудін О.В ауд.230(2)
        tr
          td 12:55
          td
          td
          td
            | Front end(Л)
            p Лісняк А.О ауд. 125(4)
          td
            | Практикум з програмування(П)
            p Мухін В.В ауд.37(1)
          td
            | Іноземна мова(Л)
            p Васильченко О.В ауд.507(6)
        tr
          td 14:30
          td
          td
            | Front end(П)
            p Калиниченко Д.О ауд.305(6)
          td САПР
          td
            | Чисельні методи в інформатиці(Л)
            p  Левчук С.А ауд.36(1)
          td
            | Мова програмувань мобільних пристроїв(П)
            p Калиниченко Д.О ауд.38(1)
        tr
          td 16:05
          td
          td
            | Практикум з програмування(П)
            p Мухін В.В ауд.37(1)
          td
            | САПР(П)
            p Калиниченко Д.О ауд.38(1)
          td
            | Практикум з програмування(П)
            p Мухін В.В ауд.37(1)(
          td
            | Мова програмувань мобільних пристроїв(П)
            p Калиниченко Д.О ауд.38(1)
        tr
          td 17:40
          td
          td
            | Чисельні методи в інформатиці(П)
            p  Левчук С.А ауд.41(1)
          td
          td
          td
